<body>
<article class="container">
    <form (ngSubmit)="login()">
        <h1>{{ 'login.title' | translate }}</h1>
        <span></span>
        <p>{{ 'login.welcome' | translate }}</p>
        <span></span>

        <div class="input-box">
            <input id="email" type="text" name="email" placeholder="{{ 'login.placeholder.email' | translate }}" [(ngModel)]="email">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="input-box">
            <input id="password" type="password" name="password" placeholder="{{ 'login.placeholder.password' | translate }}" [(ngModel)]="password">
            <i class="fa-solid fa-lock"></i>
        </div>

        @if(passwordInValid){
            <p class="invalid-password-text">
                <i class="fa-solid fa-circle-xmark"></i>
                {{ 'login.error.invalid' | translate }}
            </p>
        }

        <div>
            <button id="button-login" type="submit" class="login-btn">{{ 'login.button.login' | translate }}</button>
        </div>

        <div class="register">
            <p>{{ 'login.newUser' | translate }}</p>
            <button id="button-nav-register" type="button" class="register-button" routerLink="/register">
                {{ 'login.button.register' | translate }}
            </button>
        </div>
    </form>
</article>
</body>
