<div class="backdrop" routerLink="/cart" ></div>
@if (loginRequest){
  <dialog open>
    <h2>Login Request</h2>
    <p> Please login to continue the checkout request</p>
    <p class="actions">
      <button class="login-btn" (click)="onLoginButton()"> Login</button>
      <button class="register-button" (click)="onRegisterButton()"> Register</button>
    </p>
  </dialog>





} @else {
  <dialog open>
    <h2>Checkout</h2>
    <form [formGroup]="checkoutForm"  (ngSubmit)="onSubmit()" >
      <div class="full-name">
        <p>
          <label type="text">First name: </label>
          <input type="text" formControlName="firstName" placeholder="required"/>
          @if(firstName?.touched && firstName?.invalid) {
            <small class="wrong-message"><i class="fa-solid fa-circle-xmark"></i> First name is required and must be at least 2 characters </small>
          }
          @if (firstName?.valid){
            <small class="correct-message"><i class="fa-solid fa-circle-check"></i>Correct</small>
          }
        </p>
        <p>
          <label type="text">Infix: </label>
          <input type="text" formControlName="infix"  placeholder="optional"/>
        </p>
        <p>
          <label type="text">Last name: </label>
          <input type="text" formControlName="lastName" placeholder="required"/>
          @if(lastName?.touched && lastName?.invalid) {
            <small class="wrong-message"><i class="fa-solid fa-circle-xmark"></i> Last name is required and must be at
              least 2 characters </small>
          }
          @if (lastName?.valid){
            <small class="correct-message"><i class="fa-solid fa-circle-check"></i>Correct</small>
          }
        </p>
      </div>

      <p>
        <label type="text">Address: </label>
        <input type="text" formControlName="address" placeholder="example-street "/>
        @if(address?.touched && address?.invalid) {
          <small class="wrong-message"><i class="fa-solid fa-circle-xmark"></i> Address is required </small>
        }
        @if (address?.valid){
          <small class="correct-message"><i class="fa-solid fa-circle-check"></i>Correct</small>
        }

      </p>
      <div class="place-postcode">
        <p>
          <label type="text">Hous number: </label>
          <input type="text" formControlName="houseNumber" placeholder="12"/>
          @if(houseNumber?.touched && houseNumber?.invalid) {
            <small class="wrong-message"><i class="fa-solid fa-circle-xmark"></i> Please enter your house number correctly  </small>
          }
          @if (houseNumber?.valid){
            <small class="correct-message"><i class="fa-solid fa-circle-check"></i>Correct</small>
          }
        </p>
        <p>
          <label type="text">Postcode: </label>
          <input type="text" formControlName="postcode" placeholder="1234 AT"/>
          @if(postcode?.touched && postcode?.invalid) {
            <small class="wrong-message"><i class="fa-solid fa-circle-xmark"></i> something went wrong, please enter a validated postcode </small>
          }
          @if (postcode?.valid){
            <small class="correct-message"><i class="fa-solid fa-circle-check"></i>Correct</small>
          }
        </p>
      </div>

      <p>
        <label type="text">Phone number: </label>
        <input type="number" formControlName="phoneNumber" placeholder=" 0612345678"/>
        @if(phoneNumber?.touched && phoneNumber?.invalid) {
          <small class="wrong-message"> <i class="fa-solid fa-circle-xmark"></i>something went wrong, please enter a validated phone number </small>
        }
        @if (phoneNumber?.valid){
          <small class="correct-message"><i class="fa-solid fa-circle-check"></i>Correct</small>
        }
      </p>
      <p>
        <label type="text">Email: </label>
        <input type="text" formControlName="email" placeholder="example@mail.com"/>
        @if(email?.touched && email?.invalid) {
          <small class="wrong-message"><i class="fa-solid fa-circle-xmark"></i> something went wrong, please enter a validated email.</small>
        }
        @if (email?.valid){
          <small class="correct-message"><i class="fa-solid fa-circle-check"></i>Correct</small>
        }
      </p>
      <p class="actions">
        <button type="button" routerLink="/cart" class="cancel-button"> Cancel</button>
        <button  type="submit" class="submit-button" > pay</button>
        <!--      <button  type="submit" class="submit-button" [disabled]="!checkoutForm.valid" > pay</button>-->
      </p>
    </form>

  </dialog>


}



