<div class="shopping-cart">
  <h2><i class="fas fa-shopping-cart"></i> Shopping cart</h2>

  <ul class="items-container">
    @for(item of cartItems(); track item.product.product_id){

      <li>
        <app-cart-item [item]="item"></app-cart-item>
      </li>

    }

  </ul>


<div class="cart-total">
  <strong>Total: €{{totalPrice()}}</strong>
  <section class="cart-action-btns">
    <button class="remove-items-btn" (click)="removeAllItemsFromCart()"><i class="fa-solid fa-trash-can"></i> Remove all item</button>
    <button class="checkout-button" routerLink="/checkout"  > checkout</button>
  </section>

</div>

</div>
