
.products-by-category {
  display: flex;
  flex-wrap: wrap;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: start;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    margin-top: 0;
    border-radius: 35px;
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }

  .products-by-category-container {
    display: flex;
    //justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    gap: 1rem;

    li {
      width: calc(25% - 20px);
      margin-bottom: 20px;
    }
  }


  @media (max-width: 1024px) {
    .products-by-category-container li {
      width: calc(33.33% - 20px);
    }
  }

  @media (max-width: 768px) {
    padding: 15px;

    .products-by-category-container li {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .products-by-category-container li {
      width: 100%;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}
