.new-products {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  margin: 10px 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);


  h2 {
    text-align: start;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;

  }

  .some-products-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    li {
      width: calc(25% - 20px);
      margin-bottom: 20px;
    }
  }
  @media (max-width: 1024px) {
    .some-products-container li {
      width: calc(33.33% - 20px);
    }
  }

  @media (max-width: 768px) {
    padding: 15px;
    .some-products-container li {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .some-products-container li {
      width: 100%;
    }

    h2 {
      font-size: 1.5rem;
    }
  }


}


