
<article class="product-detail">



  <section class="product-carousel">
    <app-image-slider [images]="product()?.imageUrls || []"></app-image-slider>
  </section>
  <section class="left-side">
  <h2>{{ product()?.name}}</h2>

  <div class="product-info">

    <p>Description: {{ product()?.description }}</p>
    <p>Brand: {{ product()?.brand }}</p>
    <p>Warranty: {{ product()?.warranty }}</p>
  </div>
  <section class="prica-and-button">
  <p>Price: €{{ product()?.price }}</p>
    <button class="buy-now" (click)="onSelectBuyNow()">Add to cart</button>
  </section>

    <div class="specifications">
    <h3>Specifications</h3>
    <ul>
      @for(sep of product()?.productSpecifications; track sep.id) {
        <li>{{sep.name}} :  {{sep.value}}</li>
      }

    </ul>
  </div>
  </section>


</article>

